<HTML>
  <center>
    <h2>Home Page</h2>
    <p>Welcome {{ username }}!</p>
    <form action="/home/psw_list" method="POST">
      <input type="submit" value="Show saved passwords" />
    </form>
    <form action="/home/add_psw" method="POST">
      <input type="submit" value="Add new password" />
    </form>
    <form action="/home/del_psw" method="POST">
      <input type="submit" value="Delete saved password" />
    </form>
    <form action="/logout">
      <input type="submit" value="Log out" />
    </form>
  </center>

</HTML>