<HTML>
    <form method="POST" action="/login">
        <center>
        <H1>Password Manager</H1> <br>
        <H3>Login</H3> <br>
        <div class="msg">{{ msg }}</div>
        Username <input type = "text" name= "uname" /> <br>
        Password <input type = "password" name = "psw" /> <br>
        <input type = "submit" name="submit">
        <div style="margin-top:15px;" class="container">
          <span><a href="/register">Register</a></span>
        </div>
        </center>
    </form>
    
  </HTML>