<HTML>
  <form method="POST" action="/register">
    <center>
      <H1>Password Manager</H1> <br>
      <H3>Register</H3> <br>
      <div class="msg">{{ msg }}</div>
      Username <input type = "text" name= "uname" maxlength="30"/> <br>
      Password <input type = "password" name = "psw" value=''/> <br>
      <input type = "submit" name="submit">
      <div style="margin-top:15px;" class="container">
        <span><a href="/">Back to login</a></span>
      </div>
    </center>
  </form>
  
</HTML>